/* Estilos para el formulario */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: linear-gradient(to bottom right, #0c123d, #03a9f4);
    color: #fff;
    font-family: Arial, sans-serif;
}

h2{
    font-size: 30px; 
    font-weight: bold; 
    color: #ffffff; 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    margin-bottom: 20px; 
    position: relative;
    top: 40px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  position: relative;
  top: 80px;
}
select option {
    background-color: #f0f0f0; /* Cambia el color de fondo de las opciones */
    color: #333; /* Cambia el color del texto de las opciones */
}

#btnRegister {
    background-color: #03a9f4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    bottom: 10px;
    left: 50px;
  }
  
#btnRegister:hover {
    background-color: #0d8cd1;
}

#email, #password,#slcTipo{
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    border-bottom: 1px solid #ffffff; /* Línea inferior */
    color: #ffffff; /* Color del texto */
    padding: 20px; /* Espaciado interno para mejorar la apariencia */
    width: 150%; /* Ancho al 100% para ocupar todo el contenedor disponible */
    box-sizing: border-box; /* Incluye el padding y el border en el ancho total */
    font-size: 16px; /* Tamaño del texto */
    outline: none;
    position: relative;
    right: 60px;
  }

  #email,#password,#slcTipo::placeholder {
    color: #e6f1f7; /* Color del texto de marcador de posición */
    opacity: 0.7; /* Opacidad del texto de marcador de posición */
  }

